<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New product</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/products" method="post">
        <label for="name">name of product</label>
        <input type="text" name="name" id="name" placeholder="put your name here">

        <label for="price">price of product</label>
        <input type="text" name="price" id="price" placeholder="put your price here">

        <label for="category">category of product</label>
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>

        <button>submit</button>
    </form>
    
</body>
</html>