<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>'hi welcomw to home page'</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At iste laboriosam reiciendis non atque similique libero quos beatae vero fuga fugit, veritatis consequuntur in dolore. Nam nesciunt nostrum magnam accusantium.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis sunt in doloribus culpa blanditiis, soluta dicta voluptatum aut non voluptate asperiores excepturi sint eius rem error expedita ipsam. A, vitae.</p>
</body>
</html>